.list .item {
  border-bottom: 1px solid #e1e1e1;
  height: 40px;
}
.list .item .item-swipe {
  background: #ffffff;
  padding: 10px;
  z-index: 1;
}
.list .item .item-swipe.open {
  background: #333333;
}
.list .item .item-swipe.open:before {
  content: "\f00d";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #ffffff;
  position: absolute;
  right: 10px;
}
.list .item a.item-swipe {
  color: #333333;
  text-decoration: inherit;
}
.list .item a.item-swipe:active {
  color: inherit;
}
.list .item .item-back {
  background: #e1e1e1;
  padding: 10px;
  text-align: right;
}
.list .item .item-back .action {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  border: inherit;
  outline: inherit;
  color: #ffffff;
  padding: 0;
  font-size: 22px;
}
.list .item .item-back .action.first {
  right: 0;
}
.list .item .item-back .action.second {
  right: 50px;
}
.btn-delete {
  background: #b22222;
}
.btn-check {
  background: #008000;
}
